.usercart {
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	max-width: 500px;
	background: #f3f3f3;
	border-radius: 8px;
	margin-bottom: 20px;
	&_inner {
		p {
			display: block;
			color: #a3a3a3;
			span {
				color: #000;
			}
		}
	}
}
